.button {
}

.disabled {
    width: 133px;
    height: 30px;
    color: #002E5C;
    border:none;
    border-radius: 3px;
    background: #004D99;
    opacity: 0.5;
}

.secondary {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    width: 176px;
    height: 30px;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    width: 132px;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 3px;
    border: 0px;

}

.red {
    width: 129px;
    height: 30px;
    background: #CC1439;
    border-radius: 3px;
    border: none;
}

.default:hover {
    width: 167px;
    background: #0080FF;
}

.red:hover {
    width: 167px;
    background: #FF1A47;
}

.secondary:hover {
    color: #0066CC;
    width: 167px;
    background: #E5F0FA;
    border: 1px solid #0066CC;
}


.default:active {
    width: 149px;
    background: #0059B3;
}

.secondary:active {
    color: #0066CC;
    width: 149px;
    background: #C9E5FF;
    border: 1px solid #0066CC;
}

.red:active {
    width: 149px;
    background: #B31232;
}

.button:disabled {

}
